# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/customTargets.xml
.idea/dictionaries/
.idea/lin_eq.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/
build/
cmake-build-debug/
